.filters{
    display: flex;
    gap: 8px;
}

.gender {
    padding-left: 15px;
    width: 85px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: rgba(68, 222, 111, 0.94);
    font-family: "Jua";
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 117, 33);
    cursor: pointer;
  }

  .sort {
    padding-left: 15px;
    width: 85px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: rgba(68, 222, 111, 0.94);
    font-family: "Jua";
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 117, 33);
    cursor: pointer;
  }