.form {
  gap: 17px;
  width: 527px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  &__bar {
    width: 527px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: rgb(238, 238, 238);
    outline: none;
    padding-left: 97px;

    &:focus {
      outline: 2px rgba(68, 222, 111, 0.94) solid;
    }
  }
}

.button__wrapper {
  left: 2px;
  position: absolute;
}
