.container{
    display: flex;
}

.contact{
    padding: 10px 20px;
    width: 100%;
    max-width: 715px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    height: 80vh;
}